{{#each sortedFlights as |flight|}}
  <div class="hide-gt-sm layout-padding">
    {{flight-sm flight=flight location=location locations=locations aircraft=aircraft pilots=pilots pilotRoles=pilotRoles towPlanes=towPlanes towPilots=towPilots costSharings=costSharings
                onFlightChanged=(action 'updateFlight') onDeleteFlight=(action 'deleteFlight')}}
  </div>
  <div class="hide-xs hide-sm hide-gt-md layout-padding">
    {{flight-md flight=flight location=location locations=locations aircraft=aircraft pilots=pilots pilotRoles=pilotRoles towPlanes=towPlanes towPilots=towPilots costSharings=costSharings
                onFlightChanged=(action 'updateFlight') onDeleteFlight=(action 'deleteFlight')}}
  </div>
  <div class="hide-xs hide-sm hide-md layout-padding">
    {{flight-lg flight=flight location=location locations=locations aircraft=aircraft pilots=pilots pilotRoles=pilotRoles towPlanes=towPlanes towPilots=towPilots costSharings=costSharings
                onFlightChanged=(action 'updateFlight') onDeleteFlight=(action 'deleteFlight')}}
  </div>
{{/each}}

{{#if today}}
  <div class="layout-row layout-align-end-center layout-padding">
    {{#paper-button iconButton=true raised=true fab=true primary=true mini=true onClick=(action 'addFlight')}}
      {{paper-icon "add"}}
    {{/paper-button}}
  </div>
{{/if}}
