<div>aircraft: {{model.aircraft.callSign}}</div>
{{#if model.location}}
  <div>location: {{model.location.coords.latitude}} {{model.location.coords.longitude}}</div>
{{else}}
  <div>No location</div>
{{/if}}
