<div class="layout-column layout-align-center-center" style="margin-top:30px">
  <div class="layout-column layout-align-center-center">
    <div class="flex row">
      {{t 'login.logoff.thankyou'}}
    </div>
    <div class="flex row">
      {{link-to (t 'login.login') 'login'}}
    </div>
  </div>
</div>
