{{#paper-content class="md-padding"}}
  <div class="layout-row flex align-left">
    <div class="flex-gt-sm"/>
    <div class="flex">
      {{#paper-grid-list cols="2" rowHeight="20px" as |grid|}}
      {{#grid.tile as |tile|}}
        <strong>{{t 'pilots.overview.title.name'}}</strong>
      {{/grid.tile}}
      {{#grid.tile as |tile|}}
        <strong>{{t 'pilots.overview.title.standard.role'}}</strong>
      {{/grid.tile}}
      {{#each model as |pilot|}}
        {{#grid.tile as |tile|}}
          {{pilot.name}}
        {{/grid.tile}}
        {{#grid.tile as |tile|}}
          {{t pilot.standardRole.i18n}}
        {{/grid.tile}}
      {{/each}}
      {{/paper-grid-list}}
   </div>
   <div class="flex-gt-sm"/>
</div>
{{/paper-content}}
